h1 {
	margin-top: 4px;
}

.action-task {
	padding-top: 5px;
	margin-bottom: 0px;
	display: block;
	float: right;
}
.list {
	background-color: #e2e4e6;
	margin-left: 1%;
	margin-right: 1%;
	width: 23%;
	border-radius: 3px;
    box-sizing: border-box;
}

.task {
	background-color: #FFF;
}

.title-list {
	color: #4d4d4d;
    font: 20px "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: bold;
}